In [16]:
import pandas as pd 

# WSA



# read in and prepare the healthcare data:
hc_df = pd.read_csv('NonFarm-Table1.csv')

In [17]:
hc_df

,Date_Stamp,TX_Employment_Count,TX_Employment_Percentage,US_Employment_Count,US_Employment_Percentage
0,Apr-11,1245000,11.75,17010700,12.92
1,May-11,1249300,11.76,17044400,12.88
2,Jun-11,1251700,11.74,17062600,12.84
3,Jul-11,1254700,11.86,17046600,12.95
4,Aug-11,1261500,11.88,17085500,12.96
...,...,...,...,...,...
116,Dec-20,1499400,12.04,19996100,13.92
117,Jan-21,1490600,12.12,19783300,14.03
118,Feb-21,1492800,12.09,19848700,13.96
119,Mar-21,1496600,11.99,19920300,13.90
120,Apr-21,1496200,11.94,19963400,13.83

In [21]:
hc_df.shape

(121, 5)

In [18]:
hc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date_Stamp                121 non-null    object
 1   TX_Employment_Count       121 non-null    int64
 2   TX_Employment_Percentage  121 non-null    float64
 3   US_Employment_Count       121 non-null    int64
 4   US_Employment_Percentage  121 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 4.9+ KB

In [20]:
hc_df.Date_Stamp.value_counts()

Nov-17    1
Aug-13    1
May-13    1
Jan-14    1
Jan-20    1
         ..
Oct-20    1
Dec-16    1
Jan-15    1
Apr-18    1
Oct-11    1
Name: Date_Stamp, Length: 121, dtype: int64

In [22]:
hc_df.TX_Employment_Count.value_counts()

1400200    2
1338700    2
1475700    2
1496600    2
1329600    1
          ..
1319600    1
1421100    1
1534900    1
1399800    1
1459200    1
Name: TX_Employment_Count, Length: 117, dtype: int64